.header {
  background: $header-bg;
  height: 20rem;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.header__title {
  color: white;
  font-family: arial, sans-serif;
  font-size: $xl-size;
  font-weight: bold;
  text-align: center;
}
@media (max-width: $desktop-breakpoint) {
  .header__title span {
    display: block;
  }
}
