html {
  font-size: 62.5%;
}
button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

input[type="text"]{
    font-size: $m-size;
}
p {
  font-size: $m-size;
}
h2 {
  font-size: $l-size;
  font-weight: bold ;
}
h3 {
  font-size: $m-size;
  font-weight: bold;
  font-style: italic;
}
hr {
  width: 90%;
}
label {
  font-size: $m-size;
}
@media (max-width: $desktop-breakpoint) {
  blockquote {
    text-align: justify;
  }
}
