//Colours
$footer-bg: #2E3033;
$header-bg: #CC2F29;
$red-theme: #CC2F29;
$post-yellow: #FFC845;
$post-orange: #FF5C35;
$post-blue: #009C86;
//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$footer-height: 10rem;
$desktop-breakpoint: 45rem;
